.map-container {
  @apply h-[500px] w-full;
}

.map {
  @apply h-full w-full;
}

:host ::ng-deep .leaflet-popup-content {
  @apply p-2;
}

:host ::ng-deep .leaflet-popup-content h3 {
  @apply font-bold text-lg mb-2;
}

:host ::ng-deep .leaflet-popup-content p {
  @apply text-sm text-gray-600 mb-1;
}

.map {
  height: 60vh;
  width: 100vw;
  max-width: 100%;
}

.map-frame {
  border: 2px solid #000;
  height: 100%;
}
