<div class="filters-container">
  <div class="filters-grid">
    <div class="filter-group">
      <label class="filter-label">Tipo de Incidente</label>
      <select
        [(ngModel)]="filters.type"
        (ngModelChange)="updateFilters()"
        class="filter-select"
        required="true"
      >
        <option value="">Todos</option>
        <option value="ROBBERY">Robo</option>
        <option value="VANDALISM">Vandalismo</option>
        <option value="EMERGENCY">Emergencia</option>
      </select>
    </div>
    
    <div class="filter-group">
      <label class="filter-label">Rango de Fechas</label>
      <div class="date-range">
        <input
          type="date"
          [(ngModel)]="filters.dateRange.start"
          (ngModelChange)="updateFilters()"
          class="date-input"
          required="true"
        />
        <input
          type="date"
          [(ngModel)]="filters.dateRange.end"
          (ngModelChange)="updateFilters()"
          class="date-input"
          required="true"
        />
      </div>
    </div>
  </div>
  <br>
  <br>
  <app-button
    variant="primary"
    (onClick)="findNearby()"
    [fullWidth]="true"
  >
    Ver incidentes cercanos
  </app-button>
</div>